<footer id="footer w-100  text-center">
  <!-- <div class="cntainer part-1"> -->
  <div class="row part-1 row-cols-1 row-cols-lg-3 gy-2 text-center">
    <div class="col w-25">
      <div class="item text-center">
        <h3>LOCATION</h3>
        <p>
          2215 John Daniel Drive<br />
          Clark, MO 65243
        </p>
      </div>
    </div>
    <div class="col w-25">
      <div class="item text-center">
        <h3>AROUND THE WEB</h3>
        <div>
          <ul class="social list-unstyled d-flex gap-1 justify-content-center">
            <li>
              <a class="text-reset" href="" target="_blank"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a class="text-reset" href="" target="_blank"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </li>
            <li>
              <a class="text-reset" href="" target="_blank"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a class="text-reset" href="" target="_blank"
                ><i class="fa-brands fa-behance"></i
              ></a>
            </li>
            <li>
              <a class="text-reset" href="" target="_blank"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col w-25">
      <div class="item text-center">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, MIT<br />licensed Bootstrap theme created
          by<br />Aya
        </p>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <div class="part-2 text-center">
    <p class="p-5">Copyright © Your Website 2023</p>
  </div>
</footer>
