<nav class="d-flex flex-row justify-content-between fixed-top">
  <h2>START ANGULAR</h2>
  <!-- <div class="links d-flex justify-content-between flex-row gap-5">
    <p routerLink="portfolio">PORTFOLIO</p>
    <p routerLink="about">ABOUT</p>
    <p routerLink="contact">CONTACT</p>
  </div> -->
  <ul class="list-unstyled links d-flex justify-content-between flex-row gap-5">
    <li>
      <a
        class="text-decoration-none"
        routerLink="portfolio"
        routerLinkActive="active thecolor"
        ariaCurrentWhenActive="page"
        >PORTFOLIO</a
      >
    </li>
    <li>
      <a
        class="text-decoration-none"
        routerLink="about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >ABOUT</a
      >
    </li>
    <li>
      <a
        class="text-decoration-none"
        routerLink="contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >CONTACT</a
      >
    </li>
  </ul>
</nav>
