<section class="w-100 p-5">
  <p id="big-p ">CONTACT ME</p>
  <!-- <div class="row"> -->
  <div class="col-lg-8 mx-auto">
    <form>
      <div>
        <label for="fname"> Name</label>
        <input type="text" id="fname" name="fname" />
      </div>
      <div>
        <label for="lname">Email Adress</label>
        <input type="text" id="lname" name="lname" />
      </div>
      <div>
        <label for="lname"> Phone Number</label>
        <input type="text" id="lname" name="lname" />
      </div>
      <div>
        <label for="lname"> Message</label>
        <input class="py-5" type="text" id="lname" name="lname" />
      </div>

      <button class="button">Send</button>
    </form>
  </div>
  <!-- </div> -->
</section>
