<section class="w-100 p-5 text-center">
  <p id="big-p ">portfolio</p>
  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 w-100 m-auto"
    id="Works"
  >
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/cabin.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/cake.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/circus.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/game.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/safe.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="image position-relative overflow-hidden">
        <img class="w-100" src="../../assets/submarine.png" alt="" />
        <div
          class="layer d-flex justify-content-center align-items-center flex-column"
        >
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>
</section>
